<IfModule mod_rewrite.c>
    RewriteEngine On

    # Remove _gl and _ga from URLs
    RewriteCond %{QUERY_STRING} (^|&)_(gl|ga)= [NC]
    RewriteRule ^(.*)$ /$1? [R=301,L]

    # Keep existing rules
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
